.menuOption {
    text-align: center;
    padding-top: 10px;
    font-family: verdana;
    font-size: 30px;
}
.title {
    text-align: center;
    padding: 30px;
    font-family: verdana;
    font-size: 50px;
}
#login {
    text-align: right;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}
.canvas {
    display: none;
}
.galleryCell {
    width: 200px;
    height: 200px;
    border-color: black;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    margin: 5px;
}
.galleryLabel {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
#id {
    width: 25%;
}
#petDisplay {
    background-color: lightblue;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 10px;
    width: 250px;
}
#gallery {
    background-color: lightblue;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 10px;
    width: 500px;
}
#pet {
    width: 200px;
    height: 200px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    margin: auto;

}
button {
    padding: 10px 20px;
    margin: 5px;
    background-color: lightblue;
    border-radius: 5px;
    border: none;
    text-align: right;
}
.hide {
    display: none;
}
.errmsg {
    color: red;
}