.menuOption {
    text-align: center;
    padding-top: 10px;
    font-family: verdana;
    font-size: 30px;
}
.title {
    text-align: center;
    padding: 30px;
    font-family: verdana;
    font-size: 50px;
}
#login {
    text-align: right;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}
.canvas {
    display: none;
}
.galleryCell {
    width: 200px;
    height: 200px;
    border-color: black;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    margin: 5px;
}
.cell {
    width: 200px;
    height: 200px;
    border-color: black;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    margin: 5px;
}
.galleryLabel {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
#id {
    width: 25%;
}
.tab {
    background-color: lightblue;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
#petDisplay {
    padding: 10px;
    margin: 10px;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    float: center;
}
#gallery {
    padding: 20px;
    margin: 10px;
    width: 500px;
}
#pet {
    width: 200px;
    height: 200px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    margin: auto;

}
#bottomBar {
    padding: 20px;
    margin: 10px;
    width: 500px;
}
#shopTab {
    padding: 20px;
    margin: 10px;
}
button {
    padding: 10px 20px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: lightblue;
}
#next {
    float: right;
    border-radius: 5px;
}
.hide {
    display: none;
}
.errmsg {
    color: red;
}
.flexContainer {
    display: flex;
    flex-direction: row;
}
.flexWrep {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.flexContainerColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
label {
    font-size: 20px;
    font-family: Helvetica;
    text-align: center;
}
#namePicker {
    padding: 20px 10px;
    margin: 10px;
}
.tabContent {
    display: none;
    padding: 5px 10px;
}
#Stats {
    display: block;
}
#Stage {
    display: block;
}
.activeTabLink {
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
    border-width: 2px;
}
.stats.tabcontent {
    height: 120px;
    padding: 20px;
}
.shop.tabcontent {
    height: 510px;
    width: 500px;
    padding: 20px;
}
button img{
    width: 20px;
}
.shopdisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}